<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Dados</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Análise de Dados</h1>
    <div class="form-container">
        <div class="form-wrapper">
            <h2></h2>
            <form id="multiActionForm">
                <div class="form-group">
                    <label for="data_inicial">Data Inicial:</label>
                    <input type="date" id="data_inicial" name="data_inicial" required>
                </div>
                <div class="form-group">
                    <label for="data_final">Data Final:</label>
                    <input type="date" id="data_final" name="data_final" required>
                </div>
                <div class="form-group">
                    <label for="chave_api">Chave API:</label>
                    <input type="text" id="chave_api" name="chave_api" required>
                </div>
                <button type="button" onclick="submitForm('consultarduplicidade')">Consultar Duplicidade</button>
                <button type="button" onclick="submitForm('analisar')">Líquido > Bruto</button>
            </form>
        </div>
    </div>

    <div class="resultadosdasconsultas">
        <% if (resultadosduplicidade) { %>
            <h2>Registros API para exclusão</h2>
            <button onclick="exportTableToCSV('duplicidades')">Exportar para CSV</button>
            <table id="resultadosTableDuplicidades">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>REFO</th>
                        <th>Data Pagamento</th>
                    </tr>
                </thead>
                <tbody>
                    <% resultadosduplicidade.forEach(resultadoduplicidade => { %>
                        <tr>
                            <td><%= resultadoduplicidade.id %></td>
                            <td><%= resultadoduplicidade.refo %></td>
                            <td><%= resultadoduplicidade.datapagto %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %>

        <% if (resultadosvalores) { %>
            <h2>Resultados</h2>
            <button onclick="exportTableToCSV('valores')">Exportar para CSV</button>
            <table id="resultadosTableValores">
                <thead>
                    <tr>
                        <th>RefoID</th>
                        <th>Empresa</th>
                        <th>Data Pagamento</th>
                        <th>Data Venda</th>
                        <th>NSU</th>
                        <th>Autorização</th>
                        <th>Valor Bruto</th>
                        <th>Valor Líquido</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% resultadosvalores.forEach(resultadovalores => { %>
                        <tr>
                            <td><%= resultadovalores.Empresa %></td>
                            <td><%= resultadovalores.RefoID %></td>
                            <td><%= resultadovalores.DataPagamento %></td>
                            <td><%= resultadovalores.DataVenda %></td>
                            <td><%= resultadovalores.Nsu %></td>
                            <td><%= resultadovalores.Autorizacao %></td>
                            <td><%= resultadovalores.ValorBruto %></td>
                            <td><%= resultadovalores.ValorLiquido %></td>
                            <td><%= resultadovalores.Status %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %>
    </div>

    <script>
        function submitForm(action) {
            const form = document.getElementById('multiActionForm');
            form.action = `/${action}`;
            form.method = 'post';

            // Armazenar os valores do formulário em localStorage
            const data_inicial = document.getElementById('data_inicial').value;
            const data_final = document.getElementById('data_final').value;
            const chave_api = (document.getElementById('chave_api').value).trim() ;

            localStorage.setItem('data_inicial', data_inicial);
            localStorage.setItem('data_final', data_final);
            localStorage.setItem('chave_api', chave_api);

            form.submit();
        }

        function getFormData() {
            // Recuperar os valores do localStorage
            const data_inicial = localStorage.getItem('data_inicial');
            const data_final = localStorage.getItem('data_final');
            const chave_api = localStorage.getItem('chave_api');
            return { data_inicial, data_final, chave_api };
        }

        function downloadCSV(csv, filename) {
            const csvFile = new Blob([csv], { type: 'text/csv' });
            const downloadLink = document.createElement('a');
            downloadLink.download = filename;
            downloadLink.href = window.URL.createObjectURL(csvFile);
            downloadLink.style.display = 'none';
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        }

        function exportTableToCSV(type) {
            const formData = getFormData();
            const filename = `${type}_${formData.data_inicial}_${formData.data_final}_${formData.chave_api}.csv`;

            let tableId = '';
            if (type === 'duplicidades') {
                tableId = 'resultadosTableDuplicidades';
            } else if (type === 'valores') {
                tableId = 'resultadosTableValores';
            }

            const table = document.getElementById(tableId);
            if (!table) return;

            const csv = [];
            const rows = table.querySelectorAll('tr');

            for (const row of rows) {
                const cols = row.querySelectorAll('td, th');
                const rowCsv = [];
                for (const col of cols) {
                    rowCsv.push(col.innerText);
                }
                csv.push(rowCsv.join(','));
            }

            downloadCSV(csv.join('\n'), filename);
        }
    </script>
</body>
</html>
